<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RM_IRMSServer" />
        <binding name="RM_IwsBase" />
        <binding name="RM_IwsReport" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bhd050100297.bh01.local:8051/wsReport/IRMSServer"
        binding="basicHttpBinding" bindingConfiguration="RM_IRMSServer"
        contract="ServiceReference1.IRMSServer" name="RM_IRMSServer" />
      <endpoint address="http://bhd050100297.bh01.local:8051/wsReport/IwsBase"
        binding="basicHttpBinding" bindingConfiguration="RM_IwsBase"
        contract="ServiceReference1.IwsBase" name="RM_IwsBase" />
      <endpoint address="http://bhd050100297.bh01.local:8051/wsReport/IwsReport"
        binding="basicHttpBinding" bindingConfiguration="RM_IwsReport"
        contract="ServiceReference1.IwsReport" name="RM_IwsReport" />
    </client>
  </system.serviceModel>
</configuration>