@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Aplicação desenvolvida para inclusão de Requisição de compra de materiais ou serviços, utilizando um web service de RM TOTVS para a integração. Com isso não será necessário que determinados usuários logar-se no sistema ERP somente para Requerir material ou serviço.</p>
