<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsConsultaSQLSoap" />
                <binding name="RM_IRMSServer" />
                <binding name="RM_IwsBase" />
                <binding name="RM_IwsMov" />
                <binding name="RM_IRMSServer1" />
                <binding name="RM_IwsBase1" />
                <binding name="RM_IwsMov1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:81/wsConsultaSQL.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsConsultaSQLSoap" contract="WSConsulta.wsConsultaSQLSoap"
                name="wsConsultaSQLSoap" />
            <endpoint address="http://laptop-7tsfr77v:8051/wsMov/IRMSServer"
                binding="basicHttpBinding" bindingConfiguration="RM_IRMSServer"
                contract="WSMov.IRMSServer" name="RM_IRMSServer" />
            <endpoint address="http://laptop-7tsfr77v:8051/wsMov/IwsBase"
                binding="basicHttpBinding" bindingConfiguration="RM_IwsBase"
                contract="WSMov.IwsBase" name="RM_IwsBase" />
            <endpoint address="http://laptop-7tsfr77v:8051/wsMov/IwsMov"
                binding="basicHttpBinding" bindingConfiguration="RM_IwsMov"
                contract="WSMov.IwsMov" name="RM_IwsMov" />
            <endpoint address="http://laptop-7tsfr77v:8051/wsMov/IRMSServer"
                binding="basicHttpBinding" bindingConfiguration="RM_IRMSServer1"
                contract="ServiceReference1.IRMSServer" name="RM_IRMSServer1" />
            <endpoint address="http://laptop-7tsfr77v:8051/wsMov/IwsBase"
                binding="basicHttpBinding" bindingConfiguration="RM_IwsBase1"
                contract="ServiceReference1.IwsBase" name="RM_IwsBase1" />
            <endpoint address="http://laptop-7tsfr77v:8051/wsMov/IwsMov"
                binding="basicHttpBinding" bindingConfiguration="RM_IwsMov1"
                contract="ServiceReference1.IwsMov" name="RM_IwsMov1" />
        </client>
    </system.serviceModel>
</configuration>